body {
  background-color: rgb(95, 89, 89);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

div,
p,
h1 {
  margin: 0px; /*le quito los margenes que me dan por defecto*/
}
p {
  text-align: center;
}
h1 {
  font-size: 120%;
}
.encabezado {
  width: 97%; /*ancho pagina*/
  height: 65px; /*alto del contenedor*/
  background-color: rgb(228, 222, 222); /*color de fondo del div*/
  border: 3px black solid; /*borde del div*/
  border-radius: 10px; /*bordes redorndos*/
  display: flex; /*activo el flex al div*/
  flex-direction: column; /*le quito el row y coloco en columnas*/
  justify-content: space-between; /*que el contenido se justifioque*/
  padding: 1%; /*le doy una distancia de 1% al contenido y el vorde interno*/
}

.fila1 {
  display: flex; /*activo el div flex*/
  justify-content: space-between; /*quiero que el contenido se centre y ocupe las esquinas ya que estan pegados*/
}

.nombrePagina {
  padding: 0.5%;
  width: 20%;
  font-size: 10px;
  text-align: center;
}
.derechaEncabezado {
  align-self: flex-end;
  padding: 0.5%;
  width: 40%;
  color: white;
  background-color: rgb(4, 179, 62);
  border: 1px solid black;
}

.fila2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-around;
}

.logo {
  padding: 0.5%;
  width: 20%;
  color: white;
  background-color: rgb(3, 68, 128);
  border: 1px solid black;
}

.derechaLogo {
  align-self: flex-end;
  padding: 0.5%;
  width: 60%;
  color: white;
  background-color: rgb(126, 7, 7);
  border: 1px solid black;
}
.contenedor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 10px;
}
