body {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(90, 84, 84);
  text-align: center;
}
div {
  border: black 3px solid;
  border-radius: 6px;
  margin: 6px;
}
.restriccion {
  border: 0px;
  display: flex;
  justify-content: space-between;
}
#inicio {
  background-color: rgb(153, 153, 153);
  height: 30vh;
  width: 94vw;
}
.encabezado,
.derechaEncabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.encabezado {
  border: 0px;
  width: 60vw;
  height: 10vh;
  display: inline-block;
  align-self: flex-start;
}
.derechaEncabezado {
  width: 20vw;
  height: 10vh;
  float: right;
}
.logo,
.derechaLogo {
  display: flex;
  justify-content: space-around;
}
.logo {
  height: 8vh;
  width: 10vw;
  display: inline-block;
  border-radius: 10%;
}
.derechaLogo {
  height: 8vh;
  width: 60vw;
  display: flex;
  align-self: flex-end;
  float: right;
}

#div1 {
  background-color: red;
}
#div2 {
  background-color: blue;
}
#div3 {
  background-color: green;
}
.primeraLinea {
  display: flex;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
  height: 35vh;
}
#div4 {
  background-color: rgb(255, 0, 191);
  width: 62vw;
  height: 35vh;
}
#div5 {
  background-color: gray;
  width: 30vw;
  height: 35vh;
}
.segundaLinea {
  display: flex;
  display: inline-block;
}
